.invoiceninja .wp-block-column
{
    margin-left: 16px;
    margin-right: 16px;
}

.invoiceninja a 
{
    text-decoration: none;
}

.invoiceninja h3 
{
    padding: 0px; 
    margin: 0px;
}

.invoiceninja h5
{
    padding: 0px; 
    margin: 0px; 
    line-height: 1.5em; 
    height: 1.5em; 
    overflow: hidden; 
    display: -webkit-box; 
    text-overflow: ellipsis; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 1;
}

.invoiceninja .divider 
{
    margin-top: 8px;
    margin-bottom: 12px;
    border-bottom: 2px #000000 solid; 
    width: 50px;
}

.invoiceninja img
{
    width: 100%;
    height: 400px;
    display: block;
    object-fit: cover;
}

.invoiceninja figure
{
    padding-top: 8px;
}