.clearfix
{
    clear: both;
}

.connection-info
{
    min-height: 120px; 
    padding-top: 20px; 
    margin-bottom: 30px; 
    padding-bottom: 20px;
}

.nav-tabs
{
    width: 100%;
    list-style-type: none;
    border-bottom: 1px solid transparent;
}

.nav-tabs > li 
{
    float: left;
    margin-bottom: -1px;
}

.nav-tabs > li > a
{
    margin-right: 2px;
    line-height: 1.5;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    float: left;
    text-decoration: none;
}

.nav-tabs > li > a:hover
{
    border-color: #eee #eee #ddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus
{
    color: #555;
    cursor: default;
    background-color: #fff;    
    border: 1px solid #c3c4c7;    
}


.tab-content > .tab-pane 
{
    float: left;
    width: 96%;
    display: none;
}

.tab-content > .tab-pane.active 
{
    display: block;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}